<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.travelquest.review.mapper.ReviewMapper">

    <select id="findByContentId" resultType="com.project.travelquest.review.dto.ReviewDTO">
        SELECT r.review_id, r.content_id, r.user_id, r.review_content, r.review_img, r.created_time,
        u.user_name
        FROM tb_review r
        JOIN tb_user u ON r.user_id = u.user_id
        WHERE r.content_id = #{contentId}
        ORDER BY r.created_time DESC
    </select>

    <insert id="insert" parameterType="com.project.travelquest.review.dto.ReviewDTO" useGeneratedKeys="true" keyProperty="reviewId" keyColumn="review_id">
        INSERT INTO tb_review (content_id, user_id, review_content, review_img, created_time)
        VALUES (
                   #{contentId, jdbcType=VARCHAR},
                   #{userId, jdbcType=NUMERIC},
                   #{reviewContent, jdbcType=CLOB},
                   #{reviewImg, jdbcType=VARCHAR},
                   SYSDATE
               )
    </insert>

    <update id="update" parameterType="com.project.travelquest.review.dto.ReviewDTO">
        UPDATE tb_review
        SET review_content = #{reviewContent}, review_img = #{reviewImg}
        WHERE review_id = #{reviewId}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM tb_review WHERE review_id = #{reviewId}
    </delete>

</mapper>
