<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.travelquest.comu.dao.ComuDAO">

    <resultMap id="comuPostMap" type="com.project.travelquest.comu.vo.ComuVO">
        <result property="postId" column="post_id"/>
        <result property="content" column="content"/>
        <result property="writer" column="writer"/>
        <result property="createdAt" column="created_at"/>
        <result property="heartCount" column="heart_count"/>
        <result property="writeCount" column="write_count"/>
        <result property="reportCount" column="report_count"/>

    </resultMap>

    <!-- 게시글 전체 리스트 -->
    <select id="getPostList" resultMap="comuPostMap">
        SELECT *
        FROM tb_comu_post
        ORDER BY post_id DESC
    </select>

    <!-- 게시글 상세 조회 -->
    <select id="getPostDetail" parameterType="int" resultMap="comuPostMap">
        SELECT *
        FROM tb_comu_post
        WHERE post_id = #{id}
    </select>

    <!-- 게시글 등록 -->
    <insert id="insertPost" parameterType="com.project.travelquest.comu.vo.ComuVO">
        INSERT INTO tb_comu_post (post_id, content, writer, created_at)
        VALUES (seq_comu_post.NEXTVAL, #{content}, #{writer}, SYSDATE)
    </insert>

    <!-- 좋아요 수 증가 -->
    <update id="increaseHeartCount" parameterType="int">
        UPDATE tb_comu_post
        SET heart_count = heart_count + 1
        WHERE post_id = #{postId}
    </update>

    <!-- 좋아요 수 감소 -->
    <update id="decreaseHeartCount" parameterType="int">
        UPDATE tb_comu_post
        SET heart_count = heart_count - 1
        WHERE post_id = #{postId}
    </update>

    <update id="increaseReportCount" parameterType="int">
        UPDATE tb_comu_post
        SET report_count = report_count + 1
        WHERE post_id = #{postId}
    </update>

    <!-- 하트 기록 삭제 -->
    <delete id="deleteHeartsByPostId" parameterType="int">
        DELETE FROM tb_comu_heart WHERE post_id = #{postId}
    </delete>

    <!-- 게시글 삭제 -->
    <delete id="deletePost" parameterType="int">
        DELETE FROM tb_comu_post WHERE post_id = #{postId}
    </delete>

    <!-- 게시글에 딸린 신고 기록 삭제 -->
    <delete id="deleteReportsByPostId" parameterType="int">
        DELETE
        FROM tb_comu_report
        WHERE post_id = #{postId}
    </delete>

    <!-- 내가 좋아요(하트) 누른 게시글 목록 조회 -->
    <select id="selectMyHeartPosts" parameterType="string" resultType="com.project.travelquest.comu.vo.ComuVO">
        SELECT p.*
        FROM tb_comu_post p
                 JOIN tb_comu_heart h ON p.post_id = h.post_id
        WHERE h.user_id = #{userId}
        ORDER BY h.post_id DESC
    </select>

    <!-- 내 게시글 조회 -->
    <select id="selectMyPosts" parameterType="string" resultType="com.project.travelquest.comu.vo.ComuVO">
        SELECT p.*
        FROM tb_comu_post p
                 JOIN tb_user u ON p.writer = u.user_name
        WHERE u.user_id = #{userId}
        ORDER BY p.post_id DESC
    </select>

    <select id="getPostListWithAvatars" resultType="com.project.travelquest.comu.vo.ComuVO">
        SELECT
            p.post_id,
            p.content,
            p.writer,
            p.created_at,
            p.heart_count,
            p.write_count,
            p.report_count,
            hats.avatar_item_path AS hatsPath,
            tops.avatar_item_path AS topsPath,
            bottoms.avatar_item_path AS bottomsPath,
            hands.avatar_item_path AS handsPath,
            skins.avatar_item_path AS skinsPath,
            line.avatar_item_path AS linePath
        FROM tb_comu_post p
                 JOIN tb_user u ON p.writer = u.user_name
                 LEFT JOIN tb_avatar_preset preset ON u.user_id = preset.user_id
                 LEFT JOIN tb_avatar hats ON preset.avatar_hats = hats.avatar_item_id
                 LEFT JOIN tb_avatar tops ON preset.avatar_tops = tops.avatar_item_id
                 LEFT JOIN tb_avatar bottoms ON preset.avatar_bottoms = bottoms.avatar_item_id
                 LEFT JOIN tb_avatar hands ON preset.avatar_hands = hands.avatar_item_id
                 LEFT JOIN tb_avatar skins ON preset.avatar_skins = skins.avatar_item_id
                 LEFT JOIN tb_avatar line ON preset.avatar_line = line.avatar_item_id
        ORDER BY p.created_at DESC
    </select>
</mapper>