<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.travelquest.comu.dao.HeartDAO">

    <!-- 좋아요 여부 확인 -->
    <select id="exists" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
        FROM tb_comu_heart
        WHERE post_id = #{postId}
        AND user_id = #{userId}
    </select>

    <!-- 좋아요 등록 -->
    <insert id="insert">
        INSERT INTO tb_comu_heart (post_id, user_id)
        VALUES (#{postId}, #{userId})
    </insert>

    <!-- 좋아요 취소 -->
    <delete id="delete">
        DELETE FROM tb_comu_heart
        WHERE post_id = #{postId}
        AND user_id = #{userId}
    </delete>

    <!-- 좋아요 수 조회 -->
    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM tb_comu_heart
        WHERE post_id = #{postId}
    </select>

    <!--좋아요 삭제-->
    <delete id="deleteByPostId" parameterType="int">
        DELETE FROM tb_comu_heart WHERE post_id = #{postId}
    </delete>

</mapper>
