<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.travelquest.user.dao.SUserDAO">
    <resultMap id="usersResult" type="com.project.travelquest.user.vo.UserVO">
        <result property="userId" column="email" />
        <result property="userPw" column="password" />
        <result property="userName" column="username" />
    </resultMap>

    <select id="login" parameterType="com.project.travelquest.user.vo.UserVO" resultMap="usersResult">
        <![CDATA[
			select * from t_users
			where email=#{userId}
		    and password=#{userPw}
		]]>
    </select>
</mapper>