<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.travelquest.user.dao.UserDAO">
    <!-- 공통 ResultMap -->
    <resultMap id="usersResult" type="com.project.travelquest.user.vo.UserVO">
        <result property="user_id" column="user_id" />
        <result property="user_name" column="user_name" />
        <result property="user_email" column="user_email" />
        <result property="user_phone_num" column="user_phone_num" />
        <result property="user_password" column="user_password" />
        <result property="user_joindate" column="user_joindate" />
        <result property="user_profile_text" column="user_profile_text" />
        <result property="user_role" column="user_role" />
        <result property="user_status" column="user_status" />
        <result property="avatar_preset_id" column="avatar_preset_id" />
    </resultMap>

    <!-- 로그인 -->
    <select id="login" parameterType="com.project.travelquest.user.vo.UserVO" resultMap="usersResult">
        <![CDATA[
        SELECT * FROM tb_user
        WHERE user_email = #{user_email}
          AND user_password = #{user_password}
        ]]>
    </select>

    <!-- 이메일 중복 체크 -->
    <select id="existsByEmail" resultType="int">
        SELECT COUNT(*) FROM tb_user WHERE user_email = #{user_email}
    </select>

    <!-- 유저 저장 -->
    <insert id="saveUser" parameterType="com.project.travelquest.user.vo.UserVO" keyProperty="user_id" useGeneratedKeys="false">
        <selectKey keyProperty="user_id" resultType="long" order="BEFORE">
            SELECT seq_user_id.nextval FROM dual
        </selectKey>
        INSERT INTO tb_user (
        user_id, user_email, user_password, user_name, user_phone_num
        ) VALUES (
        #{user_id}, #{user_email}, #{user_password}, #{user_name}, #{user_phone_num}
        )
    </insert>

    <!-- 아바타 프리셋 저장 -->
    <insert id="insertAvatarPreset" parameterType="long">
        INSERT INTO tb_avatar_preset (user_id)
        VALUES (#{user_id})
    </insert>

    <!-- 배지 저장 -->
    <insert id="insertUserBadge" parameterType="map">
        INSERT INTO tb_user_badge (user_id, badge_id)
        VALUES (#{user_id}, #{badge_id})
    </insert>

    <!-- 전체 유저 조회 -->
    <select id="selectAllUsersList" resultMap="usersResult">
        SELECT * FROM tb_user
    </select>

    <!-- 유저 프로필 수정 -->
    <update id="updateUserProfileText">
        UPDATE tb_user
        SET user_profile_text = #{profileText}
        WHERE user_id = #{userId}
    </update>

    <!-- 유저 ID로 조회 -->
    <select id="getUserById" resultMap="usersResult">
        SELECT * FROM tb_user WHERE user_id = #{userId}
    </select>

    <!-- 이름으로 유저 조회 -->
    <select id="findByUsername" parameterType="String" resultMap="usersResult">
        SELECT * FROM tb_user WHERE user_name = #{user_name}
    </select>

    <!-- 비밀번호 재설정 -->
    <update id="updatePw" parameterType="com.project.travelquest.user.vo.UserVO">
        <![CDATA[
        update tb_user
        set user_password = #{user_password}
        where user_email = #{user_email}
        ]]>
    </update>

    <!-- 인증요청 시 발송코드 -->
    <update id="updateAuthCode" parameterType="com.project.travelquest.user.vo.UserVO">
        <![CDATA[
        update tb_user
        set pass_auth = #{pass_auth}
        where user_email = #{user_email}
        ]]>
    </update>

    <!-- DAO에 String이 들어가는 경우 -->
    <!-- 인증코드 입력 시 불러오는 코드  -->
    <select id="getAuthCode" resultType="string" parameterType="string">
        <![CDATA[
        select pass_auth
        from tb_user
        where user_email = #{email}
        ]]>
    </select>

    <!-- 재설정 성공 시 인증코드 null값 변환 -->
    <update id="clearAuthCode" parameterType="string">
        <![CDATA[
        update tb_user
        set pass_auth = NULL
        where user_email = #{email}
        ]]>
    </update>

</mapper>