#modal-tabs button {
    padding: 10px 15px;
    margin-right: 5px;
    background: #eee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#modal-tabs .active-tab {
    background: #007bff;
    color: white;
}

.custom-overlay-label {
    background: #fff;
    padding: 4px 8px;
    border: 1px solid #555;
    border-radius: 4px;
    font-size: 11px; /* 기본 폰트 살짝 줄임 */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    cursor: pointer;
    pointer-events: auto;
    position: relative;
    z-index: 9999;
    transition: font-size 0.3s ease, padding 0.3s ease;
}

.summary-card {
    width: 100vw;
    max-width: 420px;
    margin: 0 auto;
    cursor: pointer;
}