<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.travelquest.user.dao.SUserDAO">
    <select id="existsByEmail" resultType="int">
        SELECT COUNT(*) FROM tb_user WHERE user_email = #{user_email}
    </select>

    <insert id="saveUser" parameterType="com.project.travelquest.user.vo.UserVO">
        INSERT INTO tb_user (
        user_email, user_password, user_name
        ) VALUES (
        #{user_email}, #{user_password}, #{user_name}
        )
    </insert>

</mapper>