<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.travelquest.user.dao.UserDAO">
    <resultMap id="usersResult" type="com.project.travelquest.user.vo.UserVO">
        <result property="user_id" column="user_id" />
        <result property="user_name" column="user_name" />
        <result property="user_email" column="user_email" />
        <result property="user_phone_num" column="user_phone_num" />
        <result property="user_password" column="user_password" />
        <result property="user_joindate" column="user_joindate" />
        <result property="user_profile_text" column="user_profile_text" />
        <result property="user_role" column="user_role" />
        <result property="user_status" column="user_status" />
        <result property="avatar_preset_id" column="avatar_preset_id" />
    </resultMap>

    <select id="login" parameterType="com.project.travelquest.user.vo.UserVO" resultMap="usersResult">
        <![CDATA[
        select * from tb_user
        where user_email=#{user_email}
          and user_password=#{user_password}
        ]]>
    </select>

</mapper>